{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-1">
                <h2 class="mt-4">Reviews</h2>
            <hr class="w-50 mt-1">
            <a class="btn btn-outline-black rounded-0" href="{% url 'add_review' %}">Add a review</a>
            <hr class="w-25 mt-3">
        </div>



        
    
    <div class="review-container col-10 offset-1">
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="username_asc" {% if current_sorting == 'username_asc' %}selected{% endif %}>Author (A-Z)</option>
                        <option value="username_desc" {% if current_sorting == 'username_desc' %}selected{% endif %}>Author (Z-A)</option>
                        <option value="distillery_asc" {% if current_sorting == 'distillery_asc' %}selected{% endif %}>Distillery (A-Z)</option>
                        <option value="distillery_desc" {% if current_sorting == 'distillery_desc' %}selected{% endif %}>Distillery (Z-A)</option>
<!--                        
                        <option value="first_asc" {% if current_sorting == 'first_asc' %}selected{% endif %}>Date Posted (newest - oldest)</option>
                        <option value="first_desc" {% if current_sorting == 'first_desc' %}selected{% endif %}>Date Posted (oldest -newest)</option>
                     -->
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="mt-3 text-center text-md-left small font-italic">
                    
                    There are {{ reviews|length }} Reviews on this page</strong>
                </p>
            </div>
        </div>
        {% for review in reviews %}
        <div class="row">
            <div class="d-none d-sm-block col-sm-4 offset-sm-2 mb-3">
                {% if review.distillery.image %}
                    <img src="{{ review.distillery.image.url }}" alt="{{ review.distillery.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}nodistillery.jpg" alt="{{ review.distillery.name }}">
                {% endif %}
            </div>
        <div class="col-sm-4">
            <p class="mb-0 lead font-weight-bold">{{ review.distillery.name }}</p>
            <p class=" mb-0 text-left small">{{ review.distillery.town }}, {{ review.distillery.county }}</p> 
            <p> {{ review.body }}</p>
            <p class="mb-0">Posted by : {{ review.username }}</p>
            <p class="mb-0">Posted on : {{ review.first_created_on }}</p>
            <p>Last editted on : {{ review.last_editted_on }}</p>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                    <a href="{% url 'edit_review' review.id %}">Edit</a>
                    <a href="{% url 'delete_review' review.id %}">Delete</a>
                    </small>
                {% endif %}
        </div>
    </div>
    <hr>
        {% endfor %}  
</div>       
</div>   
<div class="btt-button shadow-sm rounded-0 border border-black mr-5">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}