{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Reviews</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
    <div class="review-container col-10 offset-1">
        {% for review in reviews %}
        <div class="d-none d-sm-block col-sm-4 offset-sm-2">
            {% if review.distillery.image %}
                <img src="{{ review.distillery.image.url }}" alt="{{ review.distillery.name }}">
            {% else %}
                <img src="{{ MEDIA_URL }}nodistillery.jpg" alt="{{ review.distillery.name }}">
            {% endif %}
        </div>
        <div class="col-sm-4">
            <p class="mb-0 lead font-weight-bold">{{ review.distillery.name }}</p>
            <p class=" mb-0 text-left small">{{ review.distillery.town }}, {{ review.distillery.county }}</p> 
            <p> {{ review.body }}</p>
            <p class="mb-0">Posted by : {{ review.username }}</p>
            <p class="mb-0">Posted on : {{ review.first_created_on }}</p>
            <p>Last editted on : {{ review.last_editted_on }}</p>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                    <a href="{% url 'edit_review' review.id %}">Edit</a>
                    <a href="{% url 'delete_review' review.id %}">Delete</a>
                    </small>
                {% endif %}
        </div>
    
        
    </div>    

        {% endfor %}
    

    </div>
</div>
{% endblock %}