{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
                <div class="image-container my-5">
                    {% if distillery.image %}
                        <a href="{{ distillery.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ distillery.image.url }}" alt="{{ distillery.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}nodistillery.jpg" alt="{{ distillery.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="distillery-container mb-5 mt-5">
                    <p class="mb-0 lead font-weight-bold">{{ distillery.name }}</p>
                   
                    <p class="mb-0 small font-italic">{{ distillery.town }}, County {{ distillery.county }}</p>
                    <p class="text-justify mr-3"> {{ distillery.description }}</p>
                    
                    {% if distillery.hasvisitorcentre %}
                       <p>{{ distillery.name }} has a visitor centre</p>
                    {% else %}                  
                   <p>{{ distillery.name }} does not have a visitor centre</p>
                    {% endif %}
                    <p></p>
                    {% if distillery.website %}
                    
                        <a href="{{ distillery.website }}" target="_blank" class="btn-black btn-sm rounded-0">Visit website</a>
                    
                    {% endif %}
                    <a href="{% url 'add_review' %}" class="btn-black btn-sm rounded-0 ml-4">Add a review</a>
                </p>
                        
                    
                     
                    
                    
                    {% if request.user.is_superuser %}
                        
                    <a href="{% url 'edit_distillery' distillery.id %}" class="btn-black btn-sm rounded-0">Edit distillery</a>
                    <a href="#checkDistDeleteModal" class="delete btn-black btn-sm rounded-0 ml-4" 
                    data-attr-id={{ distillery.id }} >Delete distillery</a>
                
                    
 
                {% endif %}
                
        </div>
            </div>


            <div class="col-lg-3 mt-5">
            
                <p>This distillery produces these gins</p>
                {% for gin in gins %}
                
                    {% if gin.image %}
                        <a href="{% url 'individual_gin' gin.id %}">
                            <img class="very-small-image" src="{{ gin.image.url }}" alt="{{ gin.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'individual_gin' gin.id %}">
                            <img class="very-small-image"  src="{{ MEDIA_URL }}emptybottle.jpg" alt="{{ gin.name }}">
                        </a>
                    {% endif %}
                        <p class="mb-0">{{ gin.name }}</p>
                        <p class="lead mb-0 text-left font-weight-bold">€{{ gin.price }}</p>   
                        
                {% endfor %}        
            </div>
            </div>
            <div class="col-12 col-sm-8 offset-sm-2">
                <hr>
                <h2 class="text-center ">Reviews of {{ distillery.name }}</h2>
                {% for review in distillery.review_set.all %} 
                    <p class="mb-0 lead font-weight-bold">{{ review.title }}</p>
                    
                    <p class="text-justified">{{ review.body }}</p>
                    {% if request.user.is_superuser or review.username == request.user %}
                    <small>
                    <a href="{% url 'edit_review'  review.id %}" class="btn-black btn-sm rounded-0 ">Edit or delete this review</a>
                    </small>
                    {% endif %}
                    <p class="mt-2 mb-0 small font-weight-bold">Posted by: {{ review.username}}</p>
                    <p class="mb-0 small">First posted on: {{ review.firstcreated }}</p>
                    <p class="small">Last editted on : {{ review.lasteditted }}</p> 
                    <hr class="w-25">
                    
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="checkDistDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this distillery?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Once deleted it cannot be retrieved
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-black rounded-0 " data-dismiss="modal">Back to safety!</button>
              <a type="button" href="#" class="btn btn-danger rounded-0 text-white" id="delete-confirm">Delete this distillery</a>
            </div>
          </div>
        </div>
      </div>
    
    

{% endblock %}


{% block postloadjs %}
<script type="text/javascript">
    var delete_id = -1;

$(".delete").on("click", function(e)
         { 
            $("#checkDistDeleteModal").modal('show');
            delete_id = $(this).attr("data-attr-id");
        })

        $("#delete-confirm").on("click", function(e) {
            $("#checkDistDeleteModal").modal('hide');
            fetch(`/distilleries/delete/${delete_id}/`).then(resp => { 
                window.location.replace("{% url 'distilleries' %}")
            });
        })

</script>


{% endblock%}
