{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 offset-lg-1">
                <div class="image-container my-5">
                    {% if distillery.image %}
                        <a href="{{ distillery.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ distillery.image.url }}" alt="{{ distillery.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}nodistillery.jpg" alt="{{ distillery.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="distillery-container mb-5 mt-5">
                    <p class="mb-0 lead font-weight-bold">{{ distillery.name }}</p>
                    {% if request.user.is_superuser %}
                        <small class="ml-1">
                        <a href="{% url 'edit_distillery' distillery.id %}">Edit distillery</a> | 
                        <a class="text-danger" href="{% url 'delete_distillery' distillery.id %}">Delete distilllery</a>
                        </small>
                    {% endif %}
                    <p class="mb-0 ">{{ distillery.town }}, County {{ distillery.county }}</p>
                    <p> {{ distillery.description }}</p>
                    
                    {% if distillery.hasvisitorcentre %}
                       <p>{{ distillery.name }} has a visitor centre</p>
                       <a href="{{ distillery.website }}">Visit their website</a>
                    {% else %}                  
                   <p>{{ distillery.name }} does not have a visitor centre</p>
                    {% endif %}
                    <p><a href="{% url 'add_review' %}" >Add a review now</a></p>
                </div>
            </div>


            <div class="col-lg-3 mt-5">
                <p>This distillery produces these gins</p>
                {% for gin in gins %}
                
                    {% if gin.image %}
                    <a href="{% url 'individual_gin' gin.id %}">
                    <img class="very-small-image" src="{{ gin.image.url }}" alt="{{ gin.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'individual_gin' gin.id %}">
                    <img class="very-small-image"  src="{{ MEDIA_URL }}emptybottle.jpg" alt="{{ gin.name }}">
                    </a>
                    {% endif %}
                    
                        <p class="mb-0">{{ gin.name }}</p>
                    
                                <p class="lead mb-0 text-left font-weight-bold">€{{ gin.price }}</p>
                               
                                {% if gin.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ gin.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">Not Rated yet</small>
                                {% endif %}
                          <br>  
                        
                {% endfor %}

            </div>

            </div>





            <div class="col-12 col-sm-8 offset-sm-2">
                {% for review in distillery.review_set.all %} 
                    <p class="mb-0 lead font-weight-bold text-center">Review of: {{ distillery.name }}</p>
                    
                    <p>{{ review.body }}</p>
                    {% if request.user.is_superuser %}
                    <!-- OR IF PERSON WROTE THE REVIEW -->
                    <small class="ml-1">
                    <a href="{% url 'edit_review'  review.id %}">Edit review</a> | 
                    <a class="text-danger" href="{% url 'delete_review'  review.id %}">Delete review</a>
                    </small>
                    {% endif %}
                    <p class="mb-0 small">Posted by: {{ review.username}}</p>
                    <p class="mb-0 small">First posted on: {{ review.first_created_on }}</p>
                    <p class="small">Last editted on : {{ review.last_editted_on }}</p> 
                    
                {% endfor %}
            </div> -->
        </div>
    </div>

    

{% endblock %}