{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-6 my-auto">
            <a href="" class="display-4  btn btn-lg rounded-0 text-uppercase py-3"><h1 class="">
                Distilleries
            </h1></a>
        </div>
        <div class="col-sm-6 my-5">
            
            <a href="" class="display-4 btn btn-lg rounded-0 text-uppercase py-3"><h1 class="">
                Gins
            </h1></a>
        </div>
        <div class="col-12 my-auto">
            <h4>
                <a href="" class="register-button btn btn-lg rounded-0 text-uppercase py-3">Register</a>
            </h4>

        </div>
    </div>
    
</div>

{% endblock %}