{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-75">
        <div class="col-lg-6 mb-5 mt-2 py-5 text-center">
            <a href="{% url 'distilleries' %}" class="display-4  btn btn-lg rounded-0 py-3">
                <h1 class="home-link">
                    Distilleries
                </h1>
            </a>
        </div>
        
        <div class="col-lg-6  py-5 text-center ">
            <a href="{% url 'gins' %}" class="display-4 btn btn-lg rounded-0 py-3">
                <h1 class="home-link">
                    Gins
                </h1>
            </a>
        </div>
    </div>
   
</div>

</div>
<!-- Code and script from https://www.etutorialspoint.com/ -->
<div id="agecheck" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Welcome to Inginuity</h3>
            </div>
            <div class="modal-body">
                <p>You must be over the legal age to consume alcohol in your country to enter this site.</p>
                <button type="button" class="close" data-dismiss="modal">I confirm I am over the legal age to consume alcohol in my country</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">$(document).ready(function(){
        $("#agecheck").modal('show');
    });
	</script>
    
{% endblock %}