{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-80">
        <div class="col-12 mt-5 pt-5 text-center ">
            
                <h1 id="landing-heading">
                    Inginuity
                </h1>
            
        </div>
    </div>
    <div class="row h-25 mb-5">
               
        <div class="col-12 text-center mt-5 pt-5">
                <p id="landing-subheading" >
                    The home of Ireland's craft gins and distilleries
                </p>
            
        </div>
    </div>



   
</div>

</div>


{% endblock %}
