<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mx-5" href="#" id="distilleries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Distilleries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="distilleries-link">
                <a href="{% url 'distilleries' %}" class="dropdown-item">All Distilleries</a>
                <a href="" class="dropdown-item ">Distilleries with tours</a>
                <a id ="province" href="" class="dropdown-item dropdown-submenu">Distilleries by Province</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Ulster</a></li>
                    <li><a tabindex="-1" href="#">Munster</a></li>
                    <li><a tabindex="-1" href="#">Leinster</a></li>
                    <li><a tabindex="-1" href="#">Connaught</a></li>
                </ul>
                <!--NEED TO NEST A DROPDOWN HERE AND THEN FILTER HERE-->
                <a id="county" href="{% url 'distilleries' %}" class="dropdown-item dropdown-submenu">Distilleries by County</a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Dynamically filled county 1</a></li>
                    <li><a tabindex="-1" href="#">Dynamically filled county 1</a></li>
                </ul>
          
                
                <a href="" class="dropdown-item ">Distilleries by Rating</a>                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 ml-5" href="#" id="gins-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gins-link">
                <a href="{% url 'gins' %}" class="dropdown-item">All Gins</a>
                <a href="{% url 'gins' %}?sort=name&direction=asc" class="dropdown-item">Sort by Name</a>
                <a href="{% url 'gins' %}?sort=price&direction=asc" class="dropdown-item">Sort by Price</a>
                <a href="{% url 'gins' %}?sort=rating&direction=desc" class="dropdown-item">Sort by Rating</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 ml-5" href="#" id="reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                <a href="{% url 'reviews' %}" class="dropdown-item">All Reviews</a>
                <a href="{% url 'reviews' %}?sort=name&direction=asc" class="dropdown-item">Sort by distillery</a>
                <a href="{% url 'reviews' %}?sort=county&direction=asc" class="dropdown-item">Sort by County</a>
                <a href="{% url 'reviews' %}?sort=province&direction=desc" class="dropdown-item">Sort by Province</a>
            </div>
        </li>
       
    </ul>
</div>

{% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function(){
  $('#county').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});

$(document).ready(function(){
  $('#province').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
    </script>
    {% endblock %}